{% extends 'base.html' %}

{% block title %}
Producer Details
{% endblock %}

{% block content %}

<h2>{{producer.name}}</h2>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>Country: {{producer.country}}</p>
        <p>Region: {{ producer.region }}</p>
        <p>Description: {{ producer.description }}</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_wine' producer.id %}" method="post">
      {% csrf_token %}
      {{ wine_form.as_p }}
      <input type="submit" class="btn" value="Add Wine">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Name</th><th>Size(mL)</th><th>Price($)/Bottle</th></tr>
      </thead>
      <tbody>
        {% for wine in producer.wine_set.all %}
          <tr>
            <td>{{wine.name}}</td>
            <td>{{wine.size}}</td>
            <td>{{wine.price}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ producer.name }}'s Distributors</h3>
    {% if producer.distributors.count %}
      {% for distributor in producer.distributors.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{distributor.name}}
            </span>
            <p>Country: {{distributor.country}}</p>
            <p>Website: {{ distributor.website }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Distributors Listed</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Distributors</h3>
    {% if distributors.count %}
      {% for distributor in distributors.all %}
        <div class="card">
          <div class="card-content">
            <p>Distributor: {{distributor.name}}</p>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_distributor' producer.id distributor.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Distributors to Add</h5>
    {% endif %}
  </div>
</div>

{% endblock %}