{% extends 'base.html' %}

{% block title %}
Producer Details
{% endblock %}

{% block content %}

<h2>{{producer.name}}</h2>

<div class="row">
  <div class="col s6">
    <div class="card">
      <!-- Information card -->
      <div class="card-content">
        <p>Country: {{producer.country}}</p>
        <p>Region: {{ producer.region }}</p>
        <p>Grape/Blend: {{ producer.grape }}</p>
        <p>Description: {{ producer.description }}</p>
      </div>
      <!-- Edit and Delete -->
      <div class="card-action">
        <!-- <a href="{% url 'delete_producer' producer.id %}" type="submit" class="confirm-delete btn-small red">
          Delete
        </a> -->
        <!-- Modal Trigger -->
        <a href="#modal1" class="btn-small modal-trigger red">
          Delete
        </a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Delete Producer Confirmation</h4>
            <p>Are you sure you want to delete?</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'delete_producer' producer.id %}" class="modal-close waves-effect waves-green btn-flat">Confirm</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>

        <a href="{% url 'edit_producer' producer.id %}" type="submit" class="btn-small">
          Edit
        </a>
      </div>
    </div>
  </div>
  <!-- Add new wine -->
  <div class="col s6">
    <form action="{% url 'add_wine' producer.id %}" method="post">
      {% csrf_token %}
      {{ wine_form.as_p }}
      <input type="submit" class="btn" value="Add Wine">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Name</th><th>Size(mL)</th><th>Price($)/Bottle</th></tr>
      </thead>
      <tbody>
        {% for wine in producer.wine_set.all %}
          <tr>
            <td>{{wine.name}}</td>
            <td>{{wine.size}}</td>
            <td>{{wine.price}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<!-- Distributors -->
<div class="row">
  <div class="col s6">
    <h3>{{ producer.name }}'s Distributors</h3>
    {% if producer.distributors.count %}
      {% for distributor in producer.distributors.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{distributor.name}}
            </span>
            <p>Country: {{distributor.country}}</p>
            <p>Website: {{ distributor.website }}</p>
          </div>
          <div class="card-action">
            <form action="{% url 'remove_distributor' producer.id distributor.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Distributors Listed</h5>
    {% endif %}
  </div>
  <!-- Available distributors will come after this line -->
  <div class="col s6">
    <h3>Available Distributors</h3>
    {% if distributors.count %}
      {% for distributor in distributors.all %}
        <div class="card">
          <div class="card-content">
            <p>Distributor: {{distributor.name}}</p>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_distributor' producer.id distributor.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Distributors to Select</h5>
      <a href="{% url 'add_distributor' %}" type="submit" class="btn-small">
        Add A Distributor
      </a>
    {% endif %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('.modal');
    const instances = M.Modal.init(elems);
  });
</script>
{% endblock %}