{% extends 'base.html' %}

{% block title %}
About The Wine Collector
{% endblock %}

{% block content %}
  <h1>About William the Wine Collector</h1>
<hr />
<p>My name is William and I consider myself a bit of a renaissance man. I love fine
  culture, good food, and ... I love wines. I am a globetrotter in search of only 
  the best wines around the world, and I am a  collector of fine, artisan wines. 
  I would love to share information about my travels or serve as a sommelier at your
  next soiree. Meantime, check out my list of partner producers and their finest
  selections.</p>
{% endblock %}
